workflow:
  rules:
    - if: $CI_COMMIT_BRANCH

stages:
  - build
  - deploy

build:
  stage: build
  image: gradle:8-jdk21
  script:
    - gradle clean build -x test
  artifacts:
    paths:
      - build/

deploy-production:
  stage: deploy
  image: ghcr.io/railwayapp/cli:latest
  variables:
    RAILWAY_TOKEN: $RAILWAY_TOKEN_PROD
  script:
    - railway up --service=$SVC_ID --environment=production
  rules:
    - if: $CI_COMMIT_BRANCH == "main"

deploy-staging:
  stage: deploy
  image: ghcr.io/railwayapp/cli:latest
  variables:
    RAILWAY_TOKEN: $RAILWAY_TOKEN_STAGING
  script:
    - railway up --service=$SVC_ID --environment=staging
  rules:
    - if: $CI_COMMIT_BRANCH == "staging"
